/* comments in .scss file*/
// variables

// mobile
body{
  main{
    .content{
      // the head of the page
      header{
        width: 100%;
        background-color: #dddddd;
        text-align: center;
        *{
          vertical-align: middle;
          text-decoration: none;
          color: black;
        }
        .wrapper_head{
          padding: 5vh 0px;
          p{
            font-size: 23px;
          }
          h1{
            margin: 0px;

          }
        }
      }

    }
  }
}

@media only screen and (min-device-width:1000px) {
  body{
    main{
      .content{
        header{
          .wrapper_head_contact_page{
            padding: 8vh 0px;
          }
        }
      }
    }
  }
}
