/* comments in .scss file*/
body main .content section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 10%;
  font-size: 15px; }
body main .content .welcome .welcome_info {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
  margin-bottom: 80px; }
  body main .content .welcome .welcome_info h2 .span1 {
    border-bottom: 3px solid #e38f84; }
  body main .content .welcome .welcome_info h2 .span2 {
    border-bottom: 2px solid #797979; }
  body main .content .welcome .welcome_info a button {
    position: absolute;
    background-color: #e38f84;
    border: none;
    color: white;
    margin: 10px;
    width: 200px;
    height: 50px; }
    body main .content .welcome .welcome_info a button:hover {
      width: 220px; }
    body main .content .welcome .welcome_info a button p {
      margin: 0;
      font-size: 20px; }
body main .content .welcome figure {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 10px 0px;
  width: 100%; }
  body main .content .welcome figure img {
    width: 100%;
    height: 100%; }
body main .content .who_we_are {
  padding-left: 0px; }
  body main .content .who_we_are figure {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 10px 0px;
    width: 100%; }
    body main .content .who_we_are figure img {
      width: 100%;
      height: 100%; }
  body main .content .who_we_are .we_are_content {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%; }
    body main .content .who_we_are .we_are_content .top_content {
      grid-column: 1/3;
      grid-row: 1/2; }
      body main .content .who_we_are .we_are_content .top_content h2 .span1 {
        border-bottom: 3px solid #e38f84; }
      body main .content .who_we_are .we_are_content .top_content h2 .span2 {
        border-bottom: 2px solid #797979; }
    body main .content .who_we_are .we_are_content .content_who_we_are {
      padding-right: 30px; }
      body main .content .who_we_are .we_are_content .content_who_we_are h3 {
        color: #e38f84; }
    body main .content .who_we_are .we_are_content .content1 {
      grid-column: 1/3;
      grid-row: 2/3; }
    body main .content .who_we_are .we_are_content .content2 {
      grid-column: 1/3;
      grid-row: 3/4; }
    body main .content .who_we_are .we_are_content .content3 {
      grid-column: 1/3;
      grid-row: 4/5; }
    body main .content .who_we_are .we_are_content .content4 {
      grid-column: 1/3;
      grid-row: 5/6; }
body main .content .meet_the_team {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  body main .content .meet_the_team .intro {
    grid-column: 1/5;
    grid-row: 1/2; }
    body main .content .meet_the_team .intro h2 .span1 {
      border-bottom: 3px solid #e38f84; }
    body main .content .meet_the_team .intro h2 .span2 {
      border-bottom: 2px solid #797979; }
  body main .content .meet_the_team figure {
    width: 40vw; }
    body main .content .meet_the_team figure img {
      border-radius: 6px;
      width: 100%;
      height: 100%; }
  body main .content .meet_the_team .staff .position {
    font-size: 13px;
    color: grey;
    padding-bottom: 20px;
    border-bottom: lightgrey solid 1px; }
  body main .content .meet_the_team .fig1 {
    grid-column: 1/3;
    grid-row: 2/3; }
  body main .content .meet_the_team .staff1 {
    grid-column: 1/3;
    grid-row: 3/4; }
  body main .content .meet_the_team .fig2 {
    grid-column: 1/3;
    grid-row: 4/5; }
  body main .content .meet_the_team .staff2 {
    grid-column: 1/3;
    grid-row: 5/6; }
  body main .content .meet_the_team .fig3 {
    grid-column: 1/3;
    grid-row: 6/7; }
  body main .content .meet_the_team .staff3 {
    grid-column: 1/3;
    grid-row: 7/8; }
  body main .content .meet_the_team .fig4 {
    grid-column: 1/3;
    grid-row: 8/9; }
  body main .content .meet_the_team .staff4 {
    grid-column: 1/3;
    grid-row: 9/10; }
body main .content .spinner_canvas {
  padding: 30px 0px;
  background-color: black;
  grid-template-columns: repeat(4, 25%); }
  body main .content .spinner_canvas .canvas-wrap {
    text-align: center;
    display: inline-block;
    position: relative;
    grid-column: 1/5; }
    body main .content .spinner_canvas .canvas-wrap canvas {
      width: 100%; }
    body main .content .spinner_canvas .canvas-wrap .procent {
      margin: 0px;
      display: block;
      position: absolute;
      left: 50%;
      top: 38%;
      font-size: 90px;
      transform: translate(-50%, -50%); }
      body main .content .spinner_canvas .canvas-wrap .procent::after {
        content: '%'; }
    body main .content .spinner_canvas .canvas-wrap p, body main .content .spinner_canvas .canvas-wrap h3 {
      color: white; }

@media only screen and (min-device-width: 700px) {
  body main .content section h2 {
    font-size: 25px; }
  body main .content .welcome .welcome_info {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 100px; }
    body main .content .welcome .welcome_info a button {
      width: 150px;
      height: 40px; }
      body main .content .welcome .welcome_info a button p {
        font-size: 20px; }
      body main .content .welcome .welcome_info a button:hover {
        width: 165px; }
  body main .content .welcome figure {
    margin-top: 30%;
    grid-column: 2/3;
    grid-row: 1/2; }
    body main .content .welcome figure img {
      height: auto; }
  body main .content .who_we_are .we_are_content .content1 {
    grid-column: 1/2;
    grid-row: 2/3; }
  body main .content .who_we_are .we_are_content .content2 {
    grid-column: 2/3;
    grid-row: 2/3; }
  body main .content .who_we_are .we_are_content .content3 {
    grid-column: 1/2;
    grid-row: 3/4; }
  body main .content .who_we_are .we_are_content .content4 {
    grid-column: 2/3;
    grid-row: 3/4; }
  body main .content .meet_the_team figure {
    width: 80%; }
  body main .content .meet_the_team .fig1 {
    grid-column: 1/2;
    grid-row: 2/3; }
  body main .content .meet_the_team .staff1 {
    grid-column: 2/3;
    grid-row: 2/3; }
  body main .content .meet_the_team .fig2 {
    grid-column: 1/2;
    grid-row: 3/4; }
  body main .content .meet_the_team .staff2 {
    grid-column: 2/3;
    grid-row: 3/4; }
  body main .content .meet_the_team .fig3 {
    grid-column: 1/2;
    grid-row: 4/5; }
  body main .content .meet_the_team .staff3 {
    grid-column: 2/3;
    grid-row: 4/5; }
  body main .content .meet_the_team .fig4 {
    grid-column: 1/2;
    grid-row: 5/6; }
  body main .content .meet_the_team .staff4 {
    grid-column: 2/3;
    grid-row: 5/6; }
  body main .content .spinner_canvas .canvas-wrap .procent {
    font-size: 75px; }
  body main .content .spinner_canvas #canvas-wrap1 {
    grid-column: 1/3;
    grid-row: 1/2; }
  body main .content .spinner_canvas #canvas-wrap2 {
    grid-column: 3/5;
    grid-row: 1/2; }
  body main .content .spinner_canvas #canvas-wrap3 {
    grid-column: 1/3;
    grid-row: 2/3; }
  body main .content .spinner_canvas #canvas-wrap4 {
    grid-column: 3/5;
    grid-row: 2/3; } }
@media only screen and (min-device-width: 1020px) {
  body main .content .welcome .welcome_info a button {
    width: 100px;
    height: 30px; }
    body main .content .welcome .welcome_info a button p {
      font-size: 15px; }
    body main .content .welcome .welcome_info a button:hover {
      width: 110px; }
  body main .content .welcome figure {
    margin-top: 10px; }
    body main .content .welcome figure img {
      height: 100%; }
  body main .content .who_we_are figure {
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2; }
    body main .content .who_we_are figure img {
      width: 215%; }
  body main .content .who_we_are .we_are_content {
    grid-column: 2/3;
    grid-row: 1/2; }
  body main .content .meet_the_team {
    grid-template-columns: repeat(4, 1fr); }
    body main .content .meet_the_team figure, body main .content .meet_the_team .staff {
      display: inline-block; }
    body main .content .meet_the_team figure {
      margin-left: 10px;
      width: 80%; }
    body main .content .meet_the_team .fig1 {
      grid-column: 1/2;
      grid-row: 2/3; }
    body main .content .meet_the_team .staff1 {
      grid-column: 2/3;
      grid-row: 2/3; }
    body main .content .meet_the_team .fig2 {
      grid-column: 3/4;
      grid-row: 2/3; }
    body main .content .meet_the_team .staff2 {
      grid-column: 4/5;
      grid-row: 2/3; }
    body main .content .meet_the_team .fig3 {
      grid-column: 1/2;
      grid-row: 3/4; }
    body main .content .meet_the_team .staff3 {
      grid-column: 2/3;
      grid-row: 3/4; }
    body main .content .meet_the_team .fig4 {
      grid-column: 3/4;
      grid-row: 3/4; }
    body main .content .meet_the_team .staff4 {
      grid-column: 4/5;
      grid-row: 3/4; }
  body main .content .spinner_canvas .canvas-wrap .procent {
    font-size: 40px;
    top: 34%; }
  body main .content .spinner_canvas #canvas-wrap1 {
    grid-column: 1/2;
    grid-row: 1/2; }
  body main .content .spinner_canvas #canvas-wrap2 {
    grid-column: 2/3;
    grid-row: 1/2; }
  body main .content .spinner_canvas #canvas-wrap3 {
    grid-column: 3/4;
    grid-row: 1/2; }
  body main .content .spinner_canvas #canvas-wrap4 {
    grid-column: 4/5;
    grid-row: 1/2; } }

/*# sourceMappingURL=about.css.map */
