/* comments in .scss file*/
@keyframes fadeMenu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body main .content .intro .intro_wrapper {
  padding: 70px 20%; }
  body main .content .intro .intro_wrapper .intro_content {
    text-align: center; }
    body main .content .intro .intro_wrapper .intro_content h2 .span1 {
      border-bottom: 3px solid #e38f84; }
    body main .content .intro .intro_wrapper .intro_content h2 .span2 {
      border-bottom: 2px solid #797979; }
    body main .content .intro .intro_wrapper .intro_content p {
      font-size: 23px; }
body main .content .portfolio .gallery_wrapper .gallery figure {
  background-color: black;
  float: left;
  margin: 0px;
  width: 50%;
  height: 350px;
  overflow: hidden; }
  body main .content .portfolio .gallery_wrapper .gallery figure img {
    opacity: 0.6;
    transition: transform .8s,opacity .8s;
    width: 110%; }
  body main .content .portfolio .gallery_wrapper .gallery figure:hover img {
    opacity: 1;
    transform: scale(1.5); }
body main .content .portfolio .gallery_wrapper #gallery2 {
  display: none; }
body main .content .portfolio #prettyPicture_wrapper {
  display: none;
  animation: fadeMenu .7s;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  background-color: #000000db; }
body main .content .portfolio .prettyPicture {
  animation: fadeMenu .7s;
  background-color: white;
  position: fixed;
  z-index: 4;
  top: 4vh;
  padding: 1vh 0px;
  border-radius: 6px;
  border: 3px solid grey;
  display: none;
  width: 100vw; }
  body main .content .portfolio .prettyPicture .gallery {
    width: 100%;
    position: relative;
    height: 650px;
    overflow: hidden; }
    body main .content .portfolio .prettyPicture .gallery .gallery_slider {
      white-space: nowrap; }
      body main .content .portfolio .prettyPicture .gallery .gallery_slider figure {
        vertical-align: top;
        margin: 0px;
        float: left;
        width: 100vw; }
        body main .content .portfolio .prettyPicture .gallery .gallery_slider figure img {
          width: 100%; }
    body main .content .portfolio .prettyPicture .gallery #gallery_slider1 {
      width: 1200%; }
    body main .content .portfolio .prettyPicture .gallery #gallery_slider2 {
      width: 1200%; }
    body main .content .portfolio .prettyPicture .gallery .right {
      top: 5.3vh;
      width: 50%;
      position: fixed;
      right: 0px;
      height: 650px; }
      body main .content .portfolio .prettyPicture .gallery .right:hover {
        background: linear-gradient(to right, transparent 35%, #e38f84 100%); }
    body main .content .portfolio .prettyPicture .gallery .left {
      top: 5.3vh;
      height: 650px;
      width: 50%;
      position: fixed;
      left: 0px; }
      body main .content .portfolio .prettyPicture .gallery .left:hover {
        background: linear-gradient(to left, transparent 35%, #e38f84 100%); }
body main .content .gallery_selector {
  width: 100%;
  text-align: center; }
  body main .content .gallery_selector button {
    margin: 10px;
    background-color: #797979;
    border: none;
    width: 40px;
    height: 40px; }
    body main .content .gallery_selector button p {
      margin: 0px;
      color: white; }
    body main .content .gallery_selector button:hover {
      background-color: #e38f84; }
  body main .content .gallery_selector #gal_select1 {
    background-color: #e38f84; }

@media only screen and (min-device-width: 700px) {
  body main .content .portfolio .gallery_wrapper .gallery figure {
    width: 33.33%;
    height: 240px; }
  body main .content .portfolio .prettyPicture {
    width: 80vw;
    margin: 0px 10%; }
    body main .content .portfolio .prettyPicture .gallery {
      height: 600px; }
      body main .content .portfolio .prettyPicture .gallery .gallery_slider figure {
        width: 80vw; }
      body main .content .portfolio .prettyPicture .gallery .left {
        height: 600px;
        width: 40%;
        left: 10.3%; }
      body main .content .portfolio .prettyPicture .gallery .right {
        height: 600px;
        width: 40%;
        right: 9.5%; } }
@media only screen and (min-device-width: 1020px) {
  body main .content .portfolio .gallery_wrapper .gallery figure {
    width: 25%;
    height: 18vw; }
  body main .content .portfolio .prettyPicture {
    top: 1vh;
    margin: 0px 20%;
    width: 60vw; }
    body main .content .portfolio .prettyPicture .gallery {
      height: 525px; }
      body main .content .portfolio .prettyPicture .gallery .gallery_slider figure {
        width: 60vw; }
      body main .content .portfolio .prettyPicture .gallery .right {
        height: 525px;
        top: 2.4vh;
        width: 30%;
        right: 19.2%; }
      body main .content .portfolio .prettyPicture .gallery .left {
        height: 525px;
        top: 2.4vh;
        width: 30%;
        left: 20%; } }

/*# sourceMappingURL=portfolio.css.map */
