/* @import url('https://fonts.googleapis.com/css?family=Dancing+Script'); */

@import url('https://fonts.googleapis.com/css?family=Hi+Melody');
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
.container{
  align-self: center;
  align-content: center;
  padding: 0px 300px;

  #apple{
    font-family: 'Gugi', cursive;
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Hi Melody', cursive;
  }
}
