<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- include libraries(jQuery, bootstrap) -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    <!-- usual styles -->
    <link rel="stylesheet" href="/stylesheets/css/nav_footer.css">
    <link rel="stylesheet" href="/stylesheets/css/create.css">

    <style media="screen">
      .create_page{
        color: red;
      }
      /* to fix slight problems with bootstrap */
        .nav_link{
          margin-bottom: 2px;
        }
        .static_nav{
          padding-top: 4px;
        }
        .sign_button{
          margin: 15% 0px !important;
        }
        .or{
          padding-top: 11px;
        }
        .signedIn{
          padding-top: 8px !important;
        }
    </style>

  </head>
  <body>
    <main>
      <% include templates/nav.ejs %>
      <% if(logedIn == true){%>
        <div class="content container">
          <h1>Create your Blog here!</h1>
          <p>Become a blogger here with bloggle and tell your story about your travels around the world.Let others know about your life filled with exitement and adventure!</p>
          <form method="post" id="create_new">
            <h3>Author:</h3>
            <p><%= user %></p>
            <h3>Image URL:</h3>
            <input type="text" name="image" value=""placeholder="Image URL">
            <h3>Title:</h3>
            <input type="text" name="title" value="" placeholder="Title">
            <textarea id="summernote" name="content" ></textarea>
            <button type="submit" name="submit" class="edit_button"><p>Post</p></button>
          </form>
        </div>
      <%}else{%>
        <p>Please <a href="/sign_in">Log In</a> before attempting to create a post!</p>
      <%} %>
      <% include templates/footer.ejs %>
    </main>
    <script type="text/javascript">
      $('#summernote').summernote({
        height: 300,                 // set editor height
        minHeight: null,             // set minimum height of editor
        maxHeight: null,             // set maximum height of editor
        focus: true                  // set focus to editable area after initializing summernote
      });
    </script>
    <script type="text/javascript" src="scripts/create.js"></script>
  </body>
</html>
